include LICENSE README.md install.sh
recursive-include docs *.md
recursive-include examples *.csv *.md
recursive-include tests *.py
recursive-include .github *.yml
recursive-include tests *.json
include tests/fakes/docker tests/fakes/codex
